.login-form form {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 20px 0;
}

.login-form form input {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    flex: 1;
}

.login-form form button[type="submit"] {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    font-weight: bold;
    cursor: pointer;
    flex: 1;
}

.logout {
    margin-top: 40px;
}